* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bg-color-red: #e27373;
    --bg-color-red-hover: #622222;
    --bg-color-green: #5ad08c;
    --bg-color-green-hover: #126937;
    --main-padding: 15px;
}

body {
    background-color: whitesmoke;
}

a {
    text-decoration: none;
    color: inherit;
}

.selected-menu-item {
    background-color: var(--bg-color-green-hover);
    border-right: 5px solid white;
    border-left: 2px solid gray;
    border-bottom: 5px solid;
}

.flex-row {
    display: flex;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.justify-center {
    justify-content: center;
}

.justify-end {
    justify-content: flex-end;
}

.justify-start {
    justify-content: flex-start;
}

.align-center {
    align-items: center;
}

.align-end {
    align-items: flex-end;
}

.align-start {
    align-items: flex-start;
}

#background {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 50%;
    z-index: 0;
    /*background: rgb(249, 235, 221) 10.5%;*/
    background: #81ecec;
}

.header {
    position: absolute;
    top: 10%;
    left: 10%;
    z-index: 2;
}

.header h1 {
    color: #111;
}

.container {
    width: 60%;
    margin: 0 auto;
    position: absolute;
    top: 20%;
    right: 20%;
    z-index: 2;
}

.main {
    width: 90%;
    height: 100%;
    margin: 0 auto;
    background-color: #FFF;
    display: flex;
    position: relative;
    border: 3px solid gray;
}

.nav {
    width: 25%;
    background-color: var(--bg-color-green);
    color: white;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.kinhnghiem,
.kinang,
.sanpham {
    display: none;
}

.icon {
    display: none;
}

.main h2 {
    text-align: center;
    padding: 10px 0;
    font-size: 30px;
    display: inline-block;
    border-bottom: 2px dashed;
}

.nav-title {
    text-align: center;
}

.nav-link {
    display: flex;
    align-items: center;
    padding: 20px 0 20px 15px;
    cursor: pointer;
    transition: background-color 1.5s;
    transition-timing-function: cubic-bezier(0.5, 1.6, 0.4, 0.7);
}

.nav-link:hover {
    background-color: var(--bg-color-green-hover);
    transition: color 2s;
    border-right: 5px solid white;
    padding-bottom: 25px;
}

.nav-link h3 {
    padding-left: 10px;
}

.content {
    width: 70%;
    padding: 5px 20px;
    margin: 0 auto;
    overflow: hidden;
}

.content-inner {
    position: relative;
}

.info-top {
    display: flex;
}

.box-icon img {
    width: 30px;
}

.box-icon img:hover {
    background: #a1fe00;
    border-radius: 50%;
}

.info-left {
    width: 65%;
    padding: 10px;
}

.info-right {
    width: 35%;
    padding: 10px;
}

.info-title {
    font-size: 20px;
    padding-bottom: 10px;
}

.info-title h3 {
    /*background: #59d08c;*/
    background: linear-gradient(135deg, rgba(255, 156, 36, 1) 0%, rgba(253, 169, 73, 1) 37%, rgba(255, 132, 0, 1) 51%, rgba(255, 134, 5, 1) 71%, rgba(248, 129, 18, 1) 100%);
    border-radius: 15px;
    padding: 5px 0 5px 10px;
    color: white;
}

.info-title:after {
    content: '';
    display: block;
    margin-top: 10px;
    height: 3px;
    width: 0px;
    background: transparent;
    transition: width 1s ease-in-out, background-color 1s ease-in-out;
}

.info-title:hover:after {
    width: 100%;
    background: #622222;
}

.box-info {
    width: 80%;
    line-height: 30px;
    font-size: 20px;
}

.box-icon img:hover::after {
    display: block;
}

.box-img img {
    width: 100%;
    margin-bottom: 5px;
    border: 3px solid #9aedbe;
    border-radius: 5px;
}

.speech-bubble {
    position: relative;
    background: #c1c9c9;
    border-radius: .4em;
    margin-left: 10px;
    padding: 20px;
}

.speech-bubble:before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border: 36px solid transparent;
    border-top-color: #c1c9c9;
    border-bottom: 0;
    border-right: 0;
    margin-left: -50px;
}

.box-des {
    display: flex;
    margin-top: 10px;
}

.footer {
    padding: 10px;
    background-color: #7b7b7a;
    color: white;
    text-align: center;
    width: 90%;
    margin: 0 auto;
}


/*section kinh nghiem*/

.kinhnghiem .info-title {
    color: white;
    margin-top: 5px;
    background: #ff9376;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 10px;
}

.kinhnghiem .info-title:hover:after {
    background: pink;
}

.kinhnghiem .info-title:after {
    position: absolute;
    margin-bottom: -10px;
    bottom: 0;
}

.kinhnghiem .info-title h3 {
    background: none;
    padding: 0;
}

.kinhnghiem .info-title img {
    width: 30px;
    padding: 0 5px;
}

.box-timeline {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.box-inner {
    width: 100%;
    position: relative;
}

.circle {
    border-bottom: 3px solid #e27373;
    min-height: 45px;
    min-width: 65px;
    text-align: center;
    border-radius: 49%;
    background: #ffffff;
    align-content: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.timeline {
    display: flex;
    align-items: start;
    width: 100%;
    z-index: 1;
    margin-bottom: 20px;
}

.title-detail:hover {
    transform: scale(1.05);
}

.detail-left,
.detail-right {
    border-radius: 5px;
    background: gray;
    text-align: center;
    margin-right: 10px;
    color: white;
    width: 39%;
}

.detail-right {
    margin: 0 0 0 10px;
}

.title-detail {
    padding: 5px;
    background: #f4f35d;
    color: #0b0b0b;
    font-weight: 600;
}

.detail-left .title-detail {
    background: #21beff;
}

.detail {
    padding: 10px;
}

.line {
    width: 30px;
    height: 80%;
    position: absolute;
    background: #ffffff;
    left: 50%;
    top: 5%;
    border-left: 2px dashed;
}


/*section ki nang*/

#progressBar {
    width: 400px;
    height: 22px;
    border: 1px solid #111;
    background-color: #292929;
}

#progressBar div {
    height: 100%;
    color: #fff;
    text-align: right;
    line-height: 22px;
    /* same as #progressBar height if we want text middle aligned */
    width: 0;
    background-color: #0099ff;
}

.skills {
    display: flex;
}

.skill {
    padding: 10px 5px;
}

.skill img {
    width: 35px;
    height: 35px;
    border: 1px solid gray;
}

.skill-dev,
.skill-illus,
.skill-another {
    display: flex;
    padding: 10px;
    justify-content: space-around;
}

.skill-illus {
    width: 60%;
}

.skill-another {
    width: 40%;
}

.skill-title {
    padding: 10px 0 15px;
    font-size: 25px;
}

.skill-title h3 {
    width: 70%;
}

.progress {
    width: 70%;
    background: #eae9e9;
    margin-left: 10px;
    position: relative;
    text-align: center;
    border-radius: 11px;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.progress p {
    z-index: 2;
    position: absolute;
    right: 10%
}

.progress-bar {
    content: none;
    position: absolute;
    background: linear-gradient(135deg, rgba(255, 156, 36, 1) 0%, rgba(253, 169, 73, 1) 37%, rgba(255, 132, 0, 1) 51%, rgba(255, 134, 5, 1) 71%, rgba(248, 129, 18, 1) 100%);
    left: 0;
    height: 100%;
    z-index: 1;
    /* transition: width 1s ease-in-out; */
    animation-name: example;
    animation-duration: 2s;
    color: white;
    padding: 0 0 0 2px;
    border: 1px;
    border-radius: 0 50px 0 0;
}

@keyframes example {
    from {
        width: 0%;
        color: black;
    }
    to {
        width: 95%;
    }
}

.progress-bar-70 {
    width: 70%;
}

.progress-bar-50 {
    width: 50%;
}

.progress-bar-60 {
    width: 60%;
}

.progress-bar p {
    position: absolute;
    right: 5%;
    z-index: 2;
}

.progress-c p {
    /* border: 2px solid #2ed573;*/
    padding: 5px;
}

.progress-cirlce {
    border-radius: 50%;
    position: relative;
    background: gainsboro;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.progress-cirlce p {
    color: #16ab55;
    z-index: 3;
    font-weight: 600;
    border: none;
}

.progress-c img {
    width: 30px;
    height: 30px;
    margin-left: 10px;
}

.progress-cirlce::after {
    content: "";
    background: white;
    position: absolute;
    z-index: 2;
    width: 90%;
    height: 90%;
    border-radius: 50%;
}

.progress-cirlce::before {
    content: "";
    background-image: linear-gradient(0.8deg, #ff7f50 50%, transparent 50%, transparent), linear-gradient(270deg, #ff7f50 50%, #ebebeb 50%, #ebebeb);
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    animation-name: circle;
    animation-duration: 2s;
}

@keyframes circle {
    0% {
        opacity: 0;
        transform: rotate(0deg);
    }
    100% {
        opacity: 1;
        transform: rotate(360deg);
    }
}

.progress-c:nth-child(1) .progress-cirlce::before {
    background-image: linear-gradient(0.8deg, #ea5929 50%, transparent 50%, transparent), linear-gradient(270deg, #ea5929 50%, #ebebeb 50%, #ebebeb);
}

.progress-c:nth-child(2) .progress-cirlce::before {
    background-image: linear-gradient(-90deg, #4cd137 50%, transparent 50%, transparent), linear-gradient(270deg, #4cd137 50%, #ebebeb 50%, #ebebeb);
}

.progress-c:nth-child(3) .progress-cirlce::before {
    background-image: linear-gradient(-90deg, #61dafb 50%, transparent 50%, transparent), linear-gradient(270deg, #61dafb 50%, #ebebeb 50%, #ebebeb);
}

.progress-c:nth-child(4) .progress-cirlce::before {
    background-image: linear-gradient(-90deg, #026e00 50%, transparent 50%, transparent), linear-gradient(270deg, #026e00 50%, #ebebeb 50%, #ebebeb);
}

@media only screen and (max-width:1280px) {
    .container {
        width: 95%;
        right: 7%;
    }
    .nav {
        width: 30%;
    }
}

@media only screen and (max-width:1024px) {
    .container {
        width: 95%;
        right: 3%;
    }
    .box-icon img {
        width: 25px;
        margin: 5px 5px 0;
    }
}

@media only screen and (max-width: 768px) {
    .box-info {
        width: 90%;
    }
    .box-icon {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    .box-icon img {
        width: 45px;
        height: 45px;
    }
}

@media only screen and (max-width: 450px) {
    .main {
        flex-direction: column;
    }
    .nav {
        width: 100%;
    }
    .content {
        width: 100%;
    }
    .nav-title {
        display: flex;
        justify-content: center;
        margin-bottom: 10px;
    }
    .nav-title h2 {
        border-bottom: 2px solid white;
    }
    .info-title {
        font-size: 17px;
    }
    .info-title h3 {
        font-size: 15px;
        text-align: center;
        padding-left: 0;
    }
    .box-info {
        font-size: 15px;
        width: 100%;
    }
    .box-icon img {
        width: 30px;
        height: 30px;
        margin: 10px 3px;
    }
    .speech-bubble::before {
        content: '';
        position: absolute;
        width: 0;
        height: 0;
        border: 36px solid transparent;
        border-top-color: #c1c9c9;
        border-left: 35px;
        margin-left: -20px;
        border-radius: 50px 0px 50px 0px;
        margin-top: -45px;
    }
    .box-des {
        flex-wrap: wrap;
        justify-content: center;
    }
    .nav.responsive {
        position: relative;
    }
    .icon {
        display: inline;
        float: none;
        display: inline-block;
        text-align: left;
    }
    .nav-link {
        display: none;
    }
    .line {
        display: none;
    }
    .detail-left,
    .detail-right {
        min-width: 65%;
    }
    .timeline {
        padding-bottom: 15px;
        border-bottom: 2px dashed;
    }
    .skill-dev {
        flex-direction: column;
    }
    .skills {
        flex-direction: column;
    }
    .skill-illus,
    .skill-another {
        width: 100%;
    }
}